* {
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.rollDicesBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.boxforedice {
    display: grid;
    row-gap: 7px;
    max-width: 100px;
    max-height: 100px;
}

.dobbelstenen {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 104px;
    width: 524px;
    row-gap: 20px;
    align-items: center;
    overflow-Y: hidden; 
}

.dobbelsteen {
    user-select: none;
    height: 100px;
    margin-left: 2px;
}
.dots{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.rollBtn {
    margin-top: 50px;
    height: 50px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    border: 1px solid;
    z-index: 999;
}